#buttonIG {
    width: 360px;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    border: 0;
    border-radius: 49.22px;
    text-decoration: none;
    color:white;
    font-weight: 500;
    &:hover{
        background: radial-gradient(51.8% 49.8% at 36.25% 96.55%, #FFD600 0%, #FF6930 48.44%, #FE3B36 73.44%, rgba(254, 59, 54, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(182.65% 122.8% at 84.5% 113.5%, #FF1B90 24.39%, #F80261 43.67%, #ED00C0 68.85%, #C500E9 77.68%, #7017FF 89.32%);
    }
}

@media (max-width: 600px) {
    #buttonIG {
        width: 260px;
        font-size: 14px;
    }
}