#box-multisensorial {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  .banner {
    width: 100%;
    height: 78vh;
    background-position: right;
    background-size: 100vh;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation-name: animationBannerMultisensorial;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 7vw;
      .content-animation {
        margin-bottom: 200px;
        margin-left: 300px;
        animation-name: animationMultisensorial;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        h1 {
          color: #200051;
          font-weight: 700;
          font-size: 5.7rem;
          margin: 0.5vh 0;
        }
        p {
          font-family: "Bitter", serif;
          font-weight: 500;
          font-size: 1.2rem;
          width: 33vw;
          line-height: 4vh;
        }
      }
    }
  }
}
@keyframes animationMultisensorial {
  from {
    margin-bottom: 200px;
    margin-left: 300px;
  }
  to {
    margin-left: 0;
    margin-bottom: 0;
  }
}
@keyframes animationBannerMultisensorial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
