#encontrar {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    .banner {
      width: 100%;
      height: 78vh;
      background-position: right;
      background-size: 100vh;
      background-repeat: no-repeat;
      padding: 0;
      margin: 0;
      opacity: 0;
      animation-name: animationBannerMultisensorial;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 7vw;
        .head {
          width: 100%;
          display: flex;
          justify-content: center;
          h2 {
            font-size: 1rem;
            border-radius: 5px;
            background-color: #0A80FC;
            color: white;
            padding: 1vh 2vw;
          }
        }
        .content-animation {
          margin-bottom: 200px;
          margin-left: 300px;
          animation-name: animationMultisensorial;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          #quote1{
            position: relative;
            top: 30px;
            right: 20px;
          }
          h1 {
            color: #003569;
            font-weight: 700;
            font-size: 50px;
            margin: 0.5vh 0;
          }
          p {
            font-family: "Bitter", serif;
            text-align: justify;
            font-weight: 500;
            font-size: 20px;
            width: 40vw;
            line-height: 4vh;
            color: #003569;
            font-style: italic;
          }
          span{
            font-weight: 700;
          }
        }
      }
    }
    #quote-area{
      display:flex;
      justify-content: center;
      align-items: center;
      gap:20px;
      padding: 2vh 7vw;
      h2{
        color: #003569;
        font-weight: 500;
        font-size: 30px;
      }
      #quote-img{
        max-height: 50vh;
        max-width: 50vw;
        border-radius: 25vw;
      }
      #quote2{
        position: relative;
        top:40px;
        right:20px;
      }
      #quote3{
        position: relative;
        bottom:50px;
        left:50vw;
      }
    }
    #section2{
      padding: 2vh 7vw 10vh 7vw;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:20px;
      #vl{
        border-left: 2px solid #0884FF;
        height: 150px;
      }
      div{
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
        padding-bottom: 5vh;
        p{
          font-size: 23px;
          color: #003569;
        }
      }
      #buttonIG{
        background-color: #003569;
      }
      #linkButton{
        width: 360px;
        padding: 15px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 5px;
        border: 0;
        border-radius: 49.22px;
        text-decoration: none;
        color:white;
        font-weight: 500;
        background-color: #003569;
        &:hover{
          opacity: 0.9;
        }
      }
    }
  }
  @keyframes animationMultisensorial {
    from {
      margin-bottom: 200px;
      margin-left: 300px;
    }
    to {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  @keyframes animationBannerMultisensorial {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1400px) {
    #encontrar {
      .banner {
        .content {
          .content-animation {
            h1 {
              font-size: 3.7rem;
              width: 40vw;
            }
            p {
              font-size: 0.9rem;
              width: 90vw;
            }
          }
          .head {
            h2 {
              font-size: 1rem;
              margin: 4vh 0 4vh 0;
            }
          }
        }
      }
      #quote-area{
        flex-direction: row;
      }
      #section2{
        flex-direction: row;
      }
    }
  }
  @media (max-width: 900px) {
    #encontrar {
      .banner {
        height: 90vh;
        background-size: 100vw;
        background-position: bottom right;
        .content {
          justify-content: flex-start;
          .content-animation {
            h1 {
              font-size: 2.5rem;
              width: 40vw;
            }
            p {
              font-size: 0.9rem;
            }
          }
        }
        .content:after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            to top,
            rgba(255, 0, 0, 0) 0%,
            rgba(134, 40, 148, 0.156) 100%
          );
        }
      }
    }
  }
  @media (max-width: 600px) {
    #encontrar {
      .banner {
        background-size: 100vw;
        background-position: bottom right;
        .content {
          .content-animation {
            padding: 0 3.5vw;
            max-width: 90vw;
            h1 {
              font-size:25px;
              width: 70vw;
            }
            p {
              max-width: 300px;
              font-size: 16px;
            }
          }
        }
      }
      #quote-area{
        flex-direction: column-reverse;
      }
      #section2{
        flex-direction: column;
        #vl{
          display: none;
        }
      }
    }
  }